/* Обращаемся ко всем элемтам на страннице */
* {
  /* Управляет тем как считаются отступы у элементов */
  box-sizing: border-box;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  background: #F9F7F4;
}

.intro {
  /*  отступ от хедера снизу */
  margin-bottom: 135px;
}

/*Самый главный контейнер в котором все лежит */
.container {
  /*Здесь указана ширина контейнера  */
  width: 1920px;
  /*Здесь указана высота  контейнера  (картинка полностью разместилась) */
  height: 831px;
  /* Здесь указано что сверху и снизу отступы по 0 а слева и справа от контейнера автоматически что и делает его по середине */
  margin: 0 auto;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/header/header-img.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
}

/* Шапка странницы  */
.header {
  /*  выставить в ряд элементы */
  display: flex;
  /* Выравниваем по вертикале по центру элементы в */
  align-items: center;
  /* Отступ header сверху  */
  padding-top: 30px;
  /* Отступ header снизу  */
  padding-bottom: 30px;
  /*  отступ от хедера снизу */
  margin-bottom: 119px;
}

/* Наш логотип-ссылка */
.logo {
  width: 181.84px;
  height: 30.24px;
  /*С помощью этой строки размеры будут работать */
  display: inline-block;
  margin-left: 376px;
  margin-right: 181.58px;
}

/* Панель навигации  */
.nav-list {
  /* С помошью флексов можно легко выставить в ряд элементы */
  display: flex;
  list-style: none;
}

.nav-item {
  /* Отступ справа */
  margin-right: 50px;
}

/* Обращамся к последнему item в списке и убираем отступ справа */
.nav-item:last-child {
  /* Отступ справа */
  margin-right: 181.58px;
}

/* Наши ссылки в шапке в панели навигации */
.nav-link {
  /* Размер шрифта */
  font-size: 20px;
  /* Высота строки */
  line-height: 142%;
  /* Убирает подчеркивание под ссылкой */
  text-decoration: none;
  /* Цвет текста ссылок в панели навигации */
  color: #FFFFFF;
}

.intro-info {
  /*  выставить в ряд элементы */
  display: flex;
  /*  выставить в колонку элементы */
  flex-direction: column;
  /* Выравниваем по вертикале по центру элементы */
  align-items: center;
}

.intro-title {
  /*Здесь указана ширина контейнера  */
  width: 768px;
  height: 315px;
  letter-spacing: 0.02em;
  /* начертание шрифта */
  font-weight: 700;
  /* Размер шрифта */
  font-size: 96px;
  /* Высота строки */
  line-height: 109%;
  /* Цвет текста  */
  color: #FFFFFF;
  /* Выравниваем тест по центру */
  text-align: center;
  /*отступ от  снизу */
  margin-bottom: 50px;
}

.intro-description {
  width: 562px;
  height: 56px;
  /* начертание шрифта */
  font-weight: 400;
  /* Размер шрифта */
  font-size: 20px;
  /* Высота строки */
  line-height: 142%;
  /* Цвет текста  */
  color: #FFFFFF;
  /* Выравниваем тест по центру */
  text-align: center;
  /*отступ от  снизу */
  margin-bottom: 50px;
}

.intro-signup {
  /* Закругление углов */
  border-radius: 10px;
  /* Убирает подчеркивание под ссылкой */
  text-decoration: none;
  /* Цвет фона */
  background-color: #FFFFFF;
  color: #1B1F2B;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  padding: 5px 20px 5px 20px;
  /*отступ от  снизу */
  margin-bottom: 119px;
}

/*  основное тело страницы */
main {
  /*Здесь указана ширина контейнера  */
  width: 1920px;
  /* Здесь указано что сверху и снизу отступы по 0 а слева и справа от контейнера автоматически что и делает его по середине */
  margin: 0 auto;
}

/* Начало блока "туры" */
.choose_your_tour {
  /*  отступ от хедера снизу */
  margin-bottom: 135px;
}

/* Текст блока "туры" */
.first_rows {
  /* С помошью флексов можно легко выставить в ряд элементы */
  display: flex;
  /* Выравниваем по центру элементы */
  justify-content: center;
  /* начертание шрифта */
  font-weight: 700;
  /* Размер шрифта */
  font-size: 59px;
  /* Высота строки */
  line-height: 124%;
  /* Цвет текста  */
  color: #1B1F2B;
  /*  отступ от хедера снизу */
  margin-bottom: 35px;
}

.second_rows {
  /* С помошью флексов можно легко выставить в ряд элементы */
  display: flex;
  /*  отступ от хедера снизу */
  margin-bottom: 106px;
  margin-left: 610px;
  list-style: none;
}

.second_rows_item {
  /* Отступ справа */
  margin-right: 30px;
}

.second_rows_item :hover {
  color: #EFA501;
  text-decoration: underline;
}

.second_rows_link {
  /* начертание шрифта */
  font-weight: 700;
  /* Размер шрифта */
  font-size: 23px;
  /* Цвет текста  */
  line-height: 122%;
  /* Цвет текста  */
  color: #1B1F2B;
  /* Убирает подчеркивание под ссылкой */
  text-decoration: none;
}

/* Карточки блока "туры" */
/* Первая строка card tour photo */
.first_rows_card_tour_photo {
  /*  выставить в ряд элементы */
  display: flex;
  /* Выравниваем по центру элементы */
  justify-content: center;
  /*отступ от  снизу */
  margin-bottom: 30px;
}

/* Первая картинка в линии */
.card_tour_photo-1 {
  /*Здесь указана ширина контейнера  */
  width: 370px;
  /*Здесь указана высота  контейнера*/
  height: 531px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/card tour photo/card tour photo-1.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /* Закругление углов */
  border-radius: 50px;
  /* Отступ справа */
  margin-right: 30px;
}

.f-title {
  /* начертание шрифта */
  font-weight: 500;
  /* Размер шрифта */
  font-size: 35px;
  /* Высота строки */
  line-height: 122%;
  /* Цвет текста  */
  color: #FFFFFF;
  /* отступы */
  margin: 50px 50px 16px 50px;
}

.f-description {
  /* начертание шрифта */
  font-weight: 400;
  /* Размер шрифта */
  font-size: 17px;
  /* Высота строки */
  line-height: 142%;
  /* Цвет текста  */
  color: #FFFFFF;
  /*  отступ  */
  margin-bottom: 277px;
  /*  отступ  */
  margin-left: 50px;
}

.f-link {
  /* начертание шрифта */
  font-weight: 700;
  /* Размер шрифта */
  font-size: 23px;
  /* Высота строки */
  line-height: 122%;
  /* Цвет текста  */
  color: #FFFFFF;
  /*  отступ  */
  margin-bottom: 50px;
  /*  отступ  */
  margin-left: 50px;
  /* Убирает подчеркивание под ссылкой */
  text-decoration: none;
  margin-right: 16px;
}

/* Вторая картинка в линии */
.card_tour_photo-2 {
  /*Здесь указана ширина контейнера  */
  width: 370px;
  /*Здесь указана высота  контейнера*/
  height: 531px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/card tour photo/card\ tour\ photo-2.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /* Закругление углов */
  border-radius: 50px;
  /* Отступ справа */
  margin-right: 30px;
}

/* Третья картинка в линии */
.card_tour_photo-3 {
  /*Здесь указана ширина контейнера  */
  width: 370px;
  /*Здесь указана высота  контейнера*/
  height: 531px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/card tour photo/card\ tour\ photo-3.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /* Закругление углов */
  border-radius: 50px;
}

/* Вторая строка card tour photo */
.second_rows_card_tour_photo {
  /*  выставить в ряд элементы */
  display: flex;
  /* Выравниваем по центру элементы */
  justify-content: center;
}

/* Первая картинка в линии */
.card_tour_photo-4 {
  /*Здесь указана ширина контейнера  */
  width: 370px;
  /*Здесь указана высота  контейнера*/
  height: 531px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/card tour photo/card\ tour\ photo-4.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /* Закругление углов */
  border-radius: 50px;
  /* Отступ справа */
  margin-right: 30px;
}

/* Вторая картинка в линии */
.card_tour_photo-5 {
  /*Здесь указана ширина контейнера  */
  width: 370px;
  /*Здесь указана высота  контейнера*/
  height: 531px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/card tour photo/card\ tour\ photo-5.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /* Закругление углов */
  border-radius: 50px;
  /* Отступ справа */
  margin-right: 30px;
}

/* Третья картинка в линии */
.card_tour_photo-6 {
  /*Здесь указана ширина контейнера  */
  width: 370px;
  /*Здесь указана высота  контейнера*/
  height: 531px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/card tour photo/card\ tour\ photo-6.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /* Закругление углов */
  border-radius: 50px;
}
/* Конец блока "туры" */

/* Начало блока "Создать тур" */
/* Начало текста перед формой блока "Создать тур" */
.text_form {
  /*  выставить в ряд элементы */
  display: flex;
  /*  выставить в колонку элементы */
  flex-direction: column;
  /* Выравниваем по вертикале по центру элементы */
  align-items: center;
  /*  отступ  */
  margin-bottom: 100px;
}

.text_form_first_rows {
  width: 458px;
  height: 73px;
  font-family: 'Roboto';
  font-style: normal;
  /* начертание шрифта */
  font-weight: 700;
  /* Размер шрифта */
  font-size: 59px;
  /* Высота строки */
  line-height: 124%;
  /* Цвет текста  */
  color: #1B1F2B;
  /*  отступ от  снизу */
  margin-bottom: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text_form_second_rows {
  /* начертание шрифта */
  font-weight: 400;
  /* Размер шрифта */
  font-size: 20px;
  /* Высота строки */
  line-height: 142%;
  /* Цвет текста  */
  color: #A6A6A6;
}
/* Конец текста перед формой блока "Создать тур"  */

/* Начало формы блока "Создать тур"  */
.form {
  /*  выставить в ряд элементы */
  display: flex;
  /*  выставить в колонку элементы */
  flex-direction: column;
  /* Выравниваем по вертикале по центру элементы */
  align-items: center;
  /*  отступ  */
  margin-bottom: 135px;
}

.form_message {
  /*Здесь указана ширина контейнера  */
  width: 1170px;
  /*Здесь указана высота  контейнера*/
  height: 986px;
  /* Цвет фона */
  background-color: #FFFFFF;
  /* Закругление углов */
  border-radius: 50px;
}

.form_message_first_rows {
  /*  выставить в ряд элементы */
  display: flex;
  justify-content: center;
  padding-top: 70px;
  margin-bottom: 33px;
}

.form_message_first_rows_column_one {
  /*  отступ  */
  margin-right: 30px;
}

.titles {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  margin-bottom: 8px;
}

.input {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  /*Здесь указана ширина контейнера  */
  width: 500px;
  /*Здесь указана высота  контейнера*/
  height: 68px;
  /* Цвет фона */
  background: #F9F7F4;
  /* рамка */
  border: 1px solid #F4F0E9;
  /* Закругление углов */
  border-radius: 10px;
  padding: 20px 305px 20px 20px;
}

.form_message_second_rows {
  /*  выставить в ряд элементы */
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
}

.form_message_third_rows {
  /*  выставить в ряд элементы */
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
}

.form_message_fourth_rows {
  /*  выставить в ряд элементы */
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
}

.input22 {
  width: 1030px;
  height: 152px;
  /* Цвет фона */
  background: #F9F7F4;
  /* рамка */
  border: 1px solid #F4F0E9;
  /* Закругление углов */
  border-radius: 10px;
}

.form_message_fifth_rows {
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  margin-left: 70px;
  margin-bottom: 4px;
}

.form_message_sixth_rows {
  /*  выставить в ряд элементы */
  display: flex;
  /* Выравниваем по вертикале по центру элементы в */
  align-items: center;
  /* margin-left: 65px; */
  margin-bottom: 35px;
}

.radio {
  width: 26px;
  height: 26px;
  margin-right: 11px;
  margin-left: 70px;
}

.ifOne {
  width: 26px;
  height: 28px;
  margin-right: 31px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
}

.radio2 {
  width: 26px;
  height: 26px;
  margin-right: 11px;
}

.ifOne2 {
  width: 35px;
  height: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
}

.form_message_seventh_rows {
  /*  выставить в ряд элементы */
  display: flex;
  /* Выравниваем по вертикале по центру элементы в */
  align-items: center;
  /* margin-left: 70px; */
  margin-bottom: 33px;
}

.form_message_seventh_rows_checkbox {
  width: 26px;
  height: 26px;
  margin-right: 19px;
  margin-left: 70px;
}

.lezenz {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  color: #A6A6A6;
  letter-spacing: -0.01em;
}

.form_message_eighth_rows {
  /*  выставить в ряд элементы */
  display: flex;
  margin-left: 70px;
}

.buttonOne {
  margin-right: 30px;
}
/* Конец формы блока "Создать тур"  */
/* Конец блока "Создать тур" */

/* Начало блока "Отзывы" */
.reviews {
  /*  отступ  */
  margin-bottom: 135px;
}

/* Начало текста перед карточками отзывов блока "Отзывы" */
.reviews_text {
  /*  выставить в ряд элементы */
  display: flex;
  /*  выставить в колонку элементы */
  flex-direction: column;
  /* Выравниваем тест по центру */
  text-align: center;
  /*  отступ  */
  margin-bottom: 100px;
}

.reviews_text_first_rows {
  /* начертание шрифта */
  font-weight: 700;
  /* Размер шрифта */
  font-size: 59px;
  /* Высота строки */
  line-height: 124%;
  /* Цвет текста  */
  color: #1B1F2B;
  margin-bottom: 30px;
  align-self: stretch;
}

.reviews_text_second_rows {
  /* начертание шрифта */
  font-weight: 400;
  /* Размер шрифта */
  font-size: 20px;
  /* Высота строки */
  line-height: 142%;
  /* Цвет текста  */
  color: #A6A6A6;
}
/* Конец текста перед карточками отзывов блока "Отзывы" */

/* Начало карточек отзывов блока "Отзывы" */
.reviews_card {
  /*  выставить в ряд элементы */
  display: flex;
  /* Выравниваем по центру элементы */
  justify-content: center;
}

.reviews_first_card {
  /*Здесь указана ширина контейнера  */
  width: 570px;
  /*Здесь указана высота  контейнера*/
  height: 673px;
  /* Цвет фона */
  background-color: #F4F0E9;
  /* Закругление углов */
  border-radius: 50px;
  /* Отступ справа */
  margin-right: 30px;
}

/* Обращамся к последнему reviews_first_card в списке и убираем отступ справа */
.reviews_first_card:last-child {
  /* Отступ справа */
  margin-right: 0;
}

.reviews_first_card_first_textOne {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #1B1F2B;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
  width: 490px;
  height: 252px;
  font-family: 'Roboto';
  font-style: normal;
  color: #1B1F2B;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.r1 {
  /*  выставить в ряд элементы */
  display: flex;
}

.reviews_first_card_second_text {
  width: 415px;
  height: 43px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #1B1F2B;
  margin-top: 266px;
  margin-left: 40px;
  margin-bottom: 8px;
}

.reviews_first_card_third_text {
  width: 415px;
  height: 24px;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  color: #A6A6A6;
  margin-left: 40px;
  margin-bottom: 40px;
}

.reviews_first_card_img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  margin-top: 266px;
}

.reviews_first_card_first_textTwo {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #1B1F2B;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
  width: 490px;
  height: 448px;
}

.reviews_first_card_second_text2 {
  width: 415px;
  height: 43px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #1B1F2B;
  margin-top: 70px;
  margin-left: 40px;
  margin-bottom: 8px;
}

.reviews_first_card_third_text2 {
  width: 415px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  color: #A6A6A6;
  margin-left: 40px;
  margin-bottom: 0px;
}

.reviews_first_card_img2 {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  margin-top: 70px;
}
/* Конец карточек отзывов блока "Отзывы" */
/* Конец блока "Отзывы" */

/* Начало блока "Фотографии путешествий" */
/* Начало текста перед карточками фотографии путешествий блока "Фотографии путешествий" */
.travel_photos_text {
  /*  выставить в ряд элементы */
  display: flex;
  /*  выставить в колонку элементы */
  flex-direction: column;
  /* Выравниваем тест по центру */
  text-align: center;
  /*  отступ  */
  margin-bottom: 100px;
}

.travel_photos_text_first_rows {
  /* начертание шрифта */
  font-weight: 700;
  /* Размер шрифта */
  font-size: 59px;
  /* Высота строки */
  line-height: 124%;
  /* Цвет текста  */
  color: #1B1F2B;
  /*  отступ  */
  margin-bottom: 30px;
}

.travel_photos_text_second_rows {
  /* начертание шрифта */
  font-weight: 400;
  /* Размер шрифта */
  font-size: 20px;
  /* Высота строки */
  line-height: 142%;
  /* Цвет текста  */
  color: #A6A6A6;
}
/* Конец текста перед карточками фотографии путешествий блока "Фотографии путешествий" */

/* Начало карточек фотографии путешествий блока "Фотографии путешествий" */
.travel_photos_card {
  /*  отступ  */
  margin-bottom: 135px;
}

/* Начало первой строки карточек */
.travel_photos_card_first_rows {
  /*  выставить в ряд элементы */
  display: flex;
  /* Выравниваем по центру элементы */
  justify-content: center;
  /*  отступ  */
  margin-bottom: 30px;
}

.travel_photos_card_first_rows_travel_photo-1 {
  /*Здесь указана ширина контейнера  */
  width: 442.5px;
  /*Здесь указана высота  контейнера*/
  height: 300px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel photo-1.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /*  отступ  */
  margin-right: 30px;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_first_rows_travel_photo-2 {
  /*Здесь указана ширина контейнера  */
  width: 442.5px;
  /*Здесь указана высота  контейнера*/
  height: 301px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel photo-2.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /*  отступ  */
  margin-right: 30px;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_first_rows_travel_photo-3 {
  /*Здесь указана ширина контейнера  */
  width: 442.5px;
  /*Здесь указана высота  контейнера*/
  height: 301px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel photo-3.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /*  отступ  */
  margin-right: 30px;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_first_rows_travel_photo-4 {
  /*Здесь указана ширина контейнера  */
  width: 442.5px;
  /*Здесь указана высота  контейнера*/
  height: 300px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel photo-4.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /* Закругление углов */
  border-radius: 50px;
}
/* Конец первой строки карточек */

/* Начало второй строки карточек */
.travel_photos_card_second_rows {
  /*  выставить в ряд элементы */
  display: flex;
  /* Выравниваем по центру элементы */
  justify-content: center;
  /*  отступ  */
  margin-bottom: 30px;
}

.travel_photos_card_second_rows_travel_photo-1 {
  /*Здесь указана ширина контейнера  */
  width: 349.16px;
  /*Здесь указана высота  контейнера*/
  height: 301px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel photo-5.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /*  отступ  */
  margin-right: 30px;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_second_rows_travel_photo-2 {
  /*Здесь указана ширина контейнера  */
  width: 349.16px;
  /*Здесь указана высота  контейнера*/
  height: 301px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel photo-6.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /*  отступ  */
  margin-right: 30px;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_second_rows_travel_photo-3 {
  /*Здесь указана ширина контейнера  */
  width: 349.16px;
  /*Здесь указана высота  контейнера*/
  height: 301px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel photo-7.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /*  отступ  */
  margin-right: 30px;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_second_rows_travel_photo-4 {
  /*Здесь указана ширина контейнера  */
  width: 349.16px;
  /*Здесь указана высота  контейнера*/
  height: 301px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel\ photo-8.png');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /*  отступ  */
  margin-right: 30px;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_second_rows_travel_photo-5 {
  /*Здесь указана ширина контейнера  */
  width: 349.16px;
  /*Здесь указана высота  контейнера*/
  height: 301px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel photo-13.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /* Закругление углов */
  border-radius: 50px;
}
/* Конец второй строки карточек */

/* Начало третьей строки карточек */
.travel_photos_card_third_rows {
  /*  выставить в ряд элементы */
  display: flex;
  /* Выравниваем по центру элементы */
  justify-content: center;
}

.travel_photos_card_third_rows_travel_photo-1 {
  /*Здесь указана ширина контейнера  */
  width: 442.5px;
  /*Здесь указана высота  контейнера*/
  height: 300px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel photo-9.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /*  отступ  */
  margin-right: 30px;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_third_rows_travel_photo-2 {
  /*Здесь указана ширина контейнера  */
  width: 442.5px;
  /*Здесь указана высота  контейнера*/
  height: 301px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel photo-10.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /*  отступ  */
  margin-right: 30px;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_third_rows_travel_photo-3 {
  /*Здесь указана ширина контейнера  */
  width: 442.5px;
  /*Здесь указана высота  контейнера*/
  height: 301px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel photo-11.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /*  отступ  */
  margin-right: 30px;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_third_rows_travel_photo-4 {
  /*Здесь указана ширина контейнера  */
  width: 442.5px;
  /*Здесь указана высота  контейнера*/
  height: 300px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/travel photo/travel photo-12.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /* Закругление углов */
  border-radius: 50px;
}
/* Конец третьей строки карточек */
/* Конец карточек фотографии путешествий блока "Фотографии путешествий" */
/* Конец блока "Фотографии путешествий"  */

/* Начало блока "Истории" */
.stories {
  /*  отступ  */
  margin-bottom: 135px;
}

/* Начало текста перед карточками фотографии  блока "Истории "*/
.stories_text {
  /*  выставить в ряд элементы */
  display: flex;
  /*  выставить в колонку элементы */
  flex-direction: column;
  /* Выравниваем тест по центру */
  text-align: center;
  /*  отступ  */
  margin-bottom: 100px;
}

.stories_text_first_rows {
  /* начертание шрифта */
  font-weight: 700;
  /* Размер шрифта */
  font-size: 59px;
  /* Высота строки */
  line-height: 124%;
  /* Цвет текста  */
  color: #1B1F2B;
  /*  отступ  */
  margin-bottom: 30px;
}

.stories_text_second_rows {
  /* начертание шрифта */
  font-weight: 400;
  /* Размер шрифта */
  font-size: 20px;
  /* Высота строки */
  line-height: 142%;
  /* Цвет текста  */
  color: #A6A6A6;
}
/* Конец текста перед карточками фотографии блока " Истории"*/


/* Начало карточек фотографии блока "Истории" */
.stories_card {
  /*  выставить в ряд элементы */
  display: flex;
  /*  выставить в колонку элементы */
  flex-direction: column;
  /* Выравниваем по центру элементы */
  align-items: center;
}

/* Первая картинка в колонке */
.travel_photos_card_first_img {
  /*Здесь указана ширина контейнера  */
  width: 1170px;
  /*Здесь указана высота  контейнера*/
  height: 567px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/story photo/story photo-1.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /*  отступ  */
  margin-bottom: 50px;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_first_text {
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #FFFFFF;
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 37px;
}

.travel_photos_card_second_text {
  width: 554px;
  height: 224px;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
  margin-left: 60px;
  margin-bottom: 115px;
}

.qwer {
  margin-left: 32px;
}


.travel_photos_card_third_text {
  /*  выставить в ряд элементы */
  display: flex;
  /* Выравниваем по вертикале по центру элементы в */
  align-items: center;
}

.travel_photos_card_third_text_textOne {
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #FFFFFF;
  margin-right: 16px;
  margin-left: 60px;
}

.travel_photos_card_third_text_imgOne {
  width: 22px;
  height: 15px;
  margin-right: 570px;
}

.travel_photos_card_third_text_textTwo {
  width: 90px;
  height: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
  margin-right: 35px;
}

.travel_photos_card_third_text_textThree {
  width: 84px;
  height: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
  margin-right: 35px;
}

.travel_photos_card_third_text_textFour {
  width: 78px;
  height: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
}

/* Вторая картинка в колонке */
.travel_photos_card_second_img {
  /*Здесь указана ширина контейнера  */
  width: 1170px;
  /*Здесь указана высота  контейнера*/
  height: 567px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/story photo/story photo-2.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /*  отступ  */
  margin-bottom: 50px;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_third_text_imgOne1 {
  width: 22px;
  height: 15px;
  margin-right: 668px;
}

.travel_photos_card_third_text_textTwo1 {
  width: 90px;
  height: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
  margin-right: 35px;
}

.travel_photos_card_third_text_textThree1 {
  width: 99px;
  height: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
}

.travel_photos_card_third_img {
  /*Здесь указана ширина контейнера  */
  width: 1170px;
  /*Здесь указана высота  контейнера*/
  height: 567px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/story photo/story photo-3.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /* Закругление углов */
  border-radius: 50px;
}

.travel_photos_card_third_text_imgOne2 {
  width: 22px;
  height: 15px;
  margin-right: 549px;
}

.travel_photos_card_third_text_textFour1 {
  width: 99px;
  height: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
}
/* Конец карточек фотографии блока "Истории" */
/* Конец блока "Истории" */

/* Начало блока "конец страницы" */
.end {
  /*  выставить в ряд элементы */
  display: flex;
  /*  отступ  */
  margin-bottom: 135px;
  margin-left: 574.5px;
}

.end_img {
  /*Здесь указана ширина контейнера  */
  width: 370px;
  /*Здесь указана высота  контейнера*/
  height: 370px;
  /* Задаем фоновую картинку контейнеру */
  background-image: url('img/footer photo.jpg');
  /* Подстраивает картинку чтобы правильно занять весь фон */
  background-size: cover;
  /* Закругление углов */
  border-radius: 50px;
  /*  отступ  */
  margin-right: 30px;
}

.end_first_text {
  /* начертание шрифта */
  font-weight: 500;
  /* Размер шрифта */
  font-size: 35px;
  /* Высота строки */
  line-height: 122%;
  /* Цвет текста  */
  color: #1B1F2B;
  /*  отступ  */
  margin-bottom: 20px;
  /* Отступ  сверху  */
  padding-top: 100px;
}

.yourtour_link {
  /* Цвет текста  */
  color: #1B1F2B;
  /* Убирает подчеркивание под ссылкой */
  text-decoration: none;
}

.end_second_text {
  /* начертание шрифта */
  font-weight: 400;
  /* Размер шрифта */
  font-size: 20px;
  /* Высота строки */
  line-height: 142%;
  /* Цвет текста  */
  color: #A6A6A6;
}
/* Конец блока "конец страницы" */

/* Начало блока "Футер" */
.footer {
  /*Здесь указана ширина контейнера  */
  width: 1920px;
  /*Здесь указана высота  контейнера*/
  height: 88px;
  /* Цвет фона */
  background-color: #F4F0E9;
}

.footer_rows {
  /*  выставить в ряд элементы */
  display: flex;
  /* Выравниваем по вертикале по центру элементы в */
  align-items: center;
  /* Отступ  сверху  */
  padding-top: 30px;
  /* Отступ  снизу  */
  padding-bottom: 30px;
  list-style-type: none;
}

.footer_rows_first_text {
  width: 222px;
  height: 28px;
  /* начертание шрифта */
  font-weight: 400;
  /* Размер шрифта */
  font-size: 20px;
  /* Высота строки */
  line-height: 142%;
  /* Цвет текста  */
  color: #A6A6A6;
  /* Отступ справа */
  margin-right: 537px;
  margin-left: 376px;
}

.footer_rows_first_img {
  width: 14px;
  height: 14px;
  /* Отступ справа */
  margin-right: 12px;
}

.footer_rows_second_text {
  width: 90px;
  height: 28px;
  font-family: 'Roboto';
  font-style: normal;
  /* начертание шрифта */
  font-weight: 400;
  /* Размер шрифта */
  font-size: 20px;
  /* Высота строки */
  line-height: 142%;
  /* Цвет текста  */
  color: #1B1F2B;
  /* Отступ справа */
  margin-right: 38px;
}

.footer_rows_second_img {
  width: 8px;
  height: 17px;
  /* Отступ справа */
  margin-right: 15px;
}

.footer_rows_third_text {
  width: 84px;
  height: 28px;
  font-family: 'Roboto';
  font-style: normal;
  /* начертание шрифта */
  font-weight: 400;
  /* Размер шрифта */
  font-size: 20px;
  /* Высота строки */
  line-height: 142%;
  /* Цвет текста  */
  color: #1B1F2B;
  /* Отступ справа */
  margin-right: 29px;
}

.footer_rows_third_img {
  width: 20px;
  height: 12px;
  /* Отступ справа */
  margin-right: 12px;
}

.footer_rows_fifth_text {
  width: 87px;
  height: 28px;
  font-family: 'Roboto';
  font-style: normal;
  /* начертание шрифта */
  font-weight: 400;
  /* Размер шрифта */
  font-size: 20px;
  /* Высота строки */
  line-height: 142%;
  /* Цвет текста  */
  color: #1B1F2B;
  margin-right: 376px;
}
/* Конец блока "Футер" */

/* Фиксированная шапка*/
.header-fixed {
  padding-right: 380px;
  position: fixed;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
  animation-name: show_header;
  animation-duration: 1s;
}

/* Анимация*/
@keyframes show_header {
    0% {
        opacity: 0;
        top: -70px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}